/* * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */
@font-face {
  font-family: 'Nunito';
  src:
    local('Nunito'),
    url('/Fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}
html,
body {
  width: 1920px;
  height: 1080px;
  overflow-x: hidden; /* Отключает горизонтальную прокрутку */
  touch-action: pan-y; /* Разрешает только вертикальную прокрутку */
  max-width: 100vw; /* Ограничивает ширину вьюпорта */
  position: fixed; /* Убирает "дрожание" страницы */
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  opacity: 0;
}
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
  background-image: url('./img/BackgroundWhite.png');
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.init {
  padding-top: 10px;
  padding-left: 168px;
}
.documentBackground {
  display: flex;
  justify-content: center;
}

.documentContent {
  background-image: url('./img/BackgroundGreen.png');
  width: 1800px;
  height: 994px;
  left: 108px;
  gap: 0px;
  border-radius: 0px 0px 91px 91px;
  opacity: 0px;
}

.line {
  background-image: url('./img/Line.png');
  width: 1520.3px;
  height: 5px;
  top: 121px;
  left: 195.7px;
  gap: 0px;
  border-radius: 91px 0px 0px 0px;
  opacity: 0px;
  margin: 25px 70px 0 113px;
}
.transparency {
  background-image: url(./img/transparency.png);
  pointer-events: none;
  margin-top: -128px;
  margin-left: 48px;
  width: 1704px;
  height: 265px;
  position: relative;
}
.cancelSearch {
  margin-left: 80px;
  color: red;
  cursor: pointer;
  display: none;
}
.documentTitle {
  display: flex;
  justify-content: space-between;
  margin: 45px 175px 0 113px;
  align-items: center;
}
.text-path span {
  color: #b0c4bf;
  font-size: 35px;
  font-weight: 600;
  line-height: 41.14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: 'Nunito', sans-serif;
  margin-right: 25px;
}
.documentTitle h1 {
  font-size: 3vw;
  color: white;
  font-family: Verdana, Tahoma, Times;
  font-weight: 100;
  margin: 0;
  padding: 1.5vw 0;
}
.searc1 {
  background-color: #628d84;
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 28.15px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 25px;
  color: white;

  width: 557px;
  height: 61px;
  gap: 0px;
  border-radius: 99px;
  border: 5px solid #b0c4bf;
}
.documentTitle input {
  background-color: #628d84;
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 28.15px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 25px;
  color: white;

  width: 557px;
  height: 61px;
  gap: 0px;
  border-radius: 99px;
  border: 5px solid #b0c4bf;
}
.documentTitle input::-webkit-input-placeholder {
  color: white;
}
.documentContainer {
 
  height: 678px;
 
}
.documentFon {
  width: 1468px;
  height: 85px;
  top: 166px;
  left: 252px;
  gap: 0px;
  background-image: url(./img/cell.png);
  opacity: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;

  font-size: 35px;
  font-weight: 600;
  line-height: 41.14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: 'Nunito', sans-serif;
}
.documentFon img {
  width: 32px;
  height: 39px;
  margin-left: 30px;
}

.documentFon span {
  color: #ffffff;
  padding-left: 20px;
}

.documentFon-mask {
  white-space: nowrap;
  width: 1465px;
  mask-image: linear-gradient(to right, black 85%, transparent 95%);
   overflow: hidden;
}

.documentFon-mask span {
  display: inline-block;
  white-space: nowrap;
  padding-left: 20px;
  color: white;
  
   animation: scrollText 10s linear infinite alternate;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(1400px - 100%));
  }
}

.footer {
  margin-top: 28px;
  display: flex;
  align-items: center;
}
.rusTat {
  margin-left: 43px;
}
.exit {
  width: 52px;
  height: 52px;
  background-image: url(./img/Button_Back_all_Dark.png);
  margin-left: 27px;
}
.exit:active {
  background-image: url(./img/Button_Back_all_Light.png);
}
.logo {
  margin-left: 1349px;
}
.fon {
  display: none;
  margin: 0;
  padding: 0;
  /* padding-bottom: 292px; */
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  background-color: rgba(24, 43, 38, 0.5);
  width: 100%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  pointer-events: none;
  transition:
    opacity 0.5s ease,
    display 0s 0.5s; /* Плавное исчезновение */
}

.loading-overlay[style*='opacity: 0'] {
  pointer-events: none;
}

.loading-text {
  color: white;
  font-size: 24px;
}

/* Стиль для текста "Загрузка" */
#loading-text {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
@keyframes ldio-yzaezf3dcmj {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-yzaezf3dcmj div {
  left: 93.06px;
  top: 18.81px;
  position: absolute;
  animation: ldio-yzaezf3dcmj linear 8.333333333333334s infinite;
  background: #ffffff;
  width: 11.879999999999999px;
  height: 41.58px;
  border-radius: 5.9399999999999995px / 7.484400000000001px;
  transform-origin: 5.9399999999999995px 80.19px;
}
.ldio-yzaezf3dcmj div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -7.291666666666667s;
  background: #ffffff;
}
.ldio-yzaezf3dcmj div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -6.25s;
  background: #ffffff;
}
.ldio-yzaezf3dcmj div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -5.208333333333334s;
  background: #ffffff;
}
.ldio-yzaezf3dcmj div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -4.166666666666667s;
  background: #ffffff;
}
.ldio-yzaezf3dcmj div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -3.125s;
  background: #ffffff;
}
.ldio-yzaezf3dcmj div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -2.0833333333333335s;
  background: #ffffff;
}
.ldio-yzaezf3dcmj div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -1.0416666666666667s;
  background: #ffffff;
}
.ldio-yzaezf3dcmj div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
  background: #ffffff;
}
.loadingio-spinner-spinner-2by998twmg8 {
  width: 198px;
  height: 198px;
  display: inline-block;
  overflow: hidden;
  /* background: #ffffff; */
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}
/* [ldio] generated by https://loading.io */
