/* ::-webkit-scrollbar {
    background-color: white;
    border: solid 1px white;
    border-radius: 30px;
    padding-right: 30px;
    margin-left: 36px;
}
    
::-webkit-scrollbar-thumb {
    background-color: #e65b5b;
    border: solid 1px white;
    border-radius: 30px;
} */

/* ::-webkit-scrollbar {
            background-color: #A6C0BD;
            border: solid 6px #2E514B;
            border-radius: 30px;
        }
            
        ::-webkit-scrollbar-thumb {
            background-color: #608D84;
            /* border: solid 1px white; */
/* border-radius: 30px;
        } */
