@font-face {
  font-family: 'Nunito';
  src:
    local('Nunito'),
    url('/Fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}
.gifLoading {
  opacity: 1;
  transition: opacity 0.5s;
  width: 1920px;
}
.info {
  display: none;
}
html,
body {
  width: 1920px;
  height: 1080px;
  touch-action: pan-y;
  max-width: 100vw;
  position: fixed;
  touch-action: none;
}
.title {
  color: white;
}
#pdf-container {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1369px;
  height: 841px;
  overflow: auto;
}

.pdf-wrapper {
  height: 841px;
  width: 1369px;
  margin: 10px auto 0;
  position: relative;
}

body {
  margin: 0;
  background-image: url('./img/BackgroundWhite.png');
  transition: opacity 0.5s;
}
body.fade-out {
  opacity: 0;
}
#simplebar-track.simplebar-vertical {
}
#simplebar-track.simplebar-horizontal {
  display: none;
}
.info {
  opacity: 0;
  transition: opacity 0.5s;
}
.header {
  background-image: url('./img/Header.png');
  width: 1800px;
  height: 270px;
  margin: -8px auto;
}
.header-block {
  display: flex;
  justify-content: space-between;
}
.header-info {
  width: 1500px;
  margin-left: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  mask-image: linear-gradient(to right, black 90%, transparent 97%);
}

.header-info-path {
  margin-top: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-info-path span {
  color: #b0c4bf;
  font-size: 35px;
  font-weight: 600;
  line-height: 41.14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: 'Nunito', sans-serif;
  margin-right: 5px;
}

.exit {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 61px;
  background-image: url('./img/exitButton.png');
  background-repeat: no-repeat; /* Запрещаем повторение */
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  line-height: 41.14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  padding-right: 80px;
}

.header-title__conteiner {
  width: fit-content;
  overflow: hidden;  
  margin-top: 30px;
}
.header-title__conteiner {
  width: 100%;
  height: 100px;

}
.header-title {
  margin-top: 30px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  line-height: 41.14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: 'Nunito', sans-serif;
  white-space: nowrap;
}

.header-title {
  animation: marquee 7s linear infinite alternate;
  padding: 20px;
}

.header-title_mask {
    width: 1500px;
    overflow: hidden;
    white-space: nowrap;
   mask-image: 
    linear-gradient(to left, black 98.5%, transparent 99%),
    linear-gradient(to right, black 85%, transparent 98%);
  mask-composite: intersect;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-32%);
  }
}

.line {
  margin: 26px 0 0 145px;
  background-image: url('./img/Line.png');
  width: 1503px;
  height: 5px;
}

.exit {
  outline: none; /* Убирает обводку при фокусе */
}

.exit:focus,
.exit:active {
  outline: none;
  background-color: transparent; /* Убирает изменение фона */
}

.exit {
  outline: none; /* Убирает обводку при фокусе */
}

.exit {
  user-select: none; /* Запрещает выделение */
  -webkit-tap-highlight-color: transparent; /* Убирает синий цвет на мобильных устройствах */
}
